In [2]:
class student:
    name="ajay devgan"
    rollno=100
s=student()
s.name
s.rollno

100

In [3]:
class student:
    name="ajay devgan"
    def message(self):
        return self.name
s=student()
s.message()

'ajay devgan'

In [5]:
class student:
    name="ajay devgan"
    def message(self):
        name="ajay devgan"
        print(name)
s=student()
s.message()

ajay devgan

In [12]:
class student:
    def __init__ (self,name):
        self.name=name
    
    def info(self):
        return self.name
s=student("ajay devgan")

In [20]:
class student1:
    def name1(self):
        print("ajay devgan")

In [21]:
class student2(student1):
    def name2(self):
        print("akshay kumar")
        self.name1()

In [22]:
s=student2()
s.name2()

akshay kumar
ajay devgan

In [27]:
class student1:
    def name1(self):
        print("ajay devgan")

In [28]:
class student2:
    def name2(self):
        print("akshay kumar")

In [29]:
class teacher(student1,student2):
    def name3(self):
        print("shakti kapoor")
        self.name1()
        self.name2()

In [31]:
t=teacher()
t.name3()

shakti kapoor
ajay devgan
akshay kumar

In [32]:
class student1:
    def name1(self):
        print("ajay devgan")

class student2(student1):
    def name2(self):
        print("akshay kumar")

class teacher(student2):
    def name3(self):
        print("shakti kapoor")
        self.name1()
        self.name2()

t=teacher()
t.name3()

shakti kapoor
ajay devgan
akshay kumar

In [34]:
class student1:
    def name1(self):
        print("ajay devgan")


class student2(student1):
    def name2(self):
        print("akshay kumar")


class teacher(student1):
    def name3(self):
        print("shakti kapoor")
        self.name1()



t=teacher()
t.name3()

shakti kapoor
ajay devgan

In [35]:
class student1:
    def name1(self):
        print("ajay devgan")


class student2:
    def name2(self):
        print("akshay kumar")



class teacher(student1,student2):
    def name3(self):
        print("shakti kapoor")


class master_teacher(teacher):
    def name4(self):
        print("kadar khan")
        self.name3()
        self.name1()
        self.name2()

m=master_teacher()
m.name4()

kadar khan
shakti kapoor
ajay devgan
akshay kumar

In [36]:
import abc
class profession:
    @abc.abstractmethod
    def name(self):
        pass
    @abc.abstractmethod
    def income(self):
        pass
    @abc.abstractmethod    
    def city(self):
        pass

In [37]:

class actor(profession):

    def name(self):
        return "ajay devgan"
    
    def income(self):
        return 1000000000000000
    
    def city(self):
        return "Bombay"
    

a=actor()
a.name()
a.city()
a.income()

1000000000000000

In [44]:
class student:
     def __init__ (self,name,rollno):
          self.__name=name
          self.__rollno=rollno

     def set_info(self,name,rollno):
          self.__name=name
          self.__rollno=rollno

     def get_info(self):
          return self.__name,self.__rollno   

s=student("ajay devgan",100)
s.set_info("akshay kumar",1000)
s.get_info()

('akshay kumar', 1000)

In [45]:
class student1:
    def name(self):
        print("ajay devgan")


class student2(student1):

    def name(self):
        print("akshay kumar")

s=student2()
s.name()

akshay kumar

In [46]:
name=open("D:/Hello.txt","w")
name.write("hello world")
name.close()

In [12]:
def deco(func):
    def inner_dec():
        print("this is my start of function")
        func()
        print("this is my end of my function")
    return inner_dec

In [13]:
@deco
def message():
    print(2**3)

In [14]:
message()

this is my start of function
8
this is my end of my function

In [20]:
import time
def deco(func):
    def inner_dec():
        start=time.time()
        func()
        end=time.time()
        print(end-start)
    return inner_dec

In [21]:
@deco
def message():
    print(10000**100)

In [22]:
message()

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
0.0

In [15]:
class pwskills:

    mobile_no=938292010

    def __init__ (self,name,email):
        self.name=name
        self.email=email

    @classmethod
    def details(cls,name,email):
        return cls(name,email)

    def student_details(self):
        print(self.name)
        print(self.email)
        print(self.mobile_no)

In [16]:
pw=pwskills("mohan","mohan@gmail.com")
pw.name
pw.student_details()

mohan
mohan@gmail.com
938292010

In [12]:
ps=pwskills.details("rohan","rohan@gmail.com")
ps.name
ps.email
ps.student_details()

rohan
rohan@gmail.com

In [14]:
ps=pwskills.details("rohan","rohan@gmail.com")

In [74]:
class pwskills:

    mobile_no=938292010

    def __init__ (self,name,email):
        self.name=name
        self.email=email

    @classmethod
    def change_number(cls,mobile):
        pwskills.mobile_no=mobile
    

    @classmethod
    def details(cls,name,email):
        return cls(name,email)

    def student_details(self):
        print(self.name)
        print(self.email)
        print(self.mobile_no)
        print(pwskills.mobile_no)

In [79]:
pw=pwskills.details("rohan","rohan@gmail.com")

In [76]:
def course_details(cls,coursename):
    print(coursename)

In [80]:
pwskills.course_details=classmethod(course_details)
pwskills.course_details("data science")

data science

In [85]:
class pwskills:

    mobile_no=938292010

    def __init__ (self,name,email):
        self.name=name
        self.email=email

    @classmethod
    def change_number(cls,mobile):
        pwskills.mobile_no=mobile
    

    @classmethod
    def details(cls,name,email):
        return cls(name,email)

    def student_details(self):
        print(self.name)
        print(self.email)
        print(self.mobile_no)
        print(pwskills.mobile_no)

In [92]:
delattr(pwskills,"change_number")

In [93]:
pwskills.change_number

AttributeError: type object 'pwskills' has no attribute 'change_number'