In [25]:
# q1
a=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
a.sort(key=lambda x: x[-1])
print(a)
i=0
j=len(a)-1
while(i<=j):
    a[i],a[j]=a[j],a[i]
    i+=1
    j-=1
print(a)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [16]:
# q2
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
# q3
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda x: str(x),l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [30]:
# q4
l=[]
a=1
for i in range(25):
    l.append(a)
    a+=1
print(l)
from functools import reduce
reduce(lambda x,y: x*y,l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

15511210043330985984000000

In [1]:
# q5
l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
from functools import reduce
list(filter(lambda x: x%2==0 and x%3==0,l))

[6, 60, 90, 120]

In [4]:
# q6
name=['python', 'php', 'aba', 'radar', 'level']
from functools import reduce
list(filter(lambda x:  x[::-1]==x  ,name))

['php', 'aba', 'radar', 'level']