In [ ]:
# q1
a=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
a.sort(key=lambda x: x[-1])
print(a)
i=0
j=len(a)-1
while(i<=j):
    a[i],a[j]=a[j],a[i]
    i+=1
    j-=1
print(a)

In [ ]:
# q2
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: x**2,l))

In [ ]:
# q3
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda x: str(x),l))

In [ ]:
# q4
l=[]
a=1
for i in range(25):
    l.append(a)
    a+=1
print(l)
from functools import reduce
reduce(lambda x,y: x*y,l)

In [ ]:
# q5
l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
from functools import reduce
list(filter(lambda x: x%2==0 and x%3==0,l))

In [ ]:
# q6
name=['python', 'php', 'aba', 'radar', 'level']
from functools import reduce
list(filter(lambda x: x if x[::-1]==x,name))